<!-- <ion-content  *ngIf = "this.user">
<div>{{this.user.weight}}</div>
 <div>{{this.user.height}}</div> 
 <div>{{this.user.getBmiValue()}}</div> 
 <div>{{this.user.userPurpose}}</div>
 <div>{{this.user.getPPmValue()}}</div>
  <div>{{this.user.getCpmValue()}}</div>
<div>{{this.user.getKcalAccordToReason()}}</div>
<div>{{this.user.getValueOfNutrientiens()}}</div>
<div>{{this.user.protein}}</div>
<div>{{this.user.fat}}</div>
<div>{{this.user.carbo}}</div>
</ion-content> -->
<app-header></app-header>

<ion-content *ngIf="this.user">
  <div class="row no-gutters justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8">
      <div class="subrow">
        <div class="photoContainer">
          <div class="photo">
            <img src="assets/images/Anonym_13480.jpg">
          </div>
        </div>
        <div class="userData list">
          <h3>Your data:</h3>
          <ul>
            <li><strong> Weight:</strong> <span>{{this.user.weight}}</span></li>
            <li><strong> Height:</strong> <span>{{this.user.height}}</span></li>
            <li><strong> BMI:</strong> {{this.user.getBmiValue()}}</li>
            <li><strong> PPM:</strong> {{this.user.getPPmValue()}}</li>
            <li><strong> CPM:</strong> {{this.user.getCpmValue()}}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="subrow-content list">
      <h3>Your statistics:</h3>
      <ul>
        <li><strong> Number of kcal to achieve the goal:</strong> <span>{{this.user.getKcalAccordToReason(this.user)}}</span></li>
      </ul>
      <ul>
        <li><strong> Number of nutrient:</strong> {{this.user.getValueOfNutrientiens()}}
          <ul>
            <li><strong> Protein:</strong> <span> {{this.user.protein}} g</span></li>
            <li><strong> Fat:</strong> {{this.user.fat}} g</li>
            <li><strong> Carbo:</strong> {{this.user.carbo}} g</li>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</ion-content>