<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="alert-email">
    <ion-label position="floating">E-mail</ion-label>
    <ion-input id="email" [(ngModel)]="email" type="email" required
      pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password" required></ion-input>
  </ion-item>
  <button (click)="signup(email,password)">Add new account </button>
</ion-content>