

 .alert-wrapper{
    max-width: unset !important;
    width: 100% !important;
}

.wider-popover .popover-content {
    width: 100%; //or w/e width
 }

 .myCustomSelect{
    max-width: 100% !important;
   }