

 .alert-wrapper{
    max-width: unset !important;
    width: 90% !important;
}

.wider-popover .popover-content {
    width: 100%; //or w/e width
 }

 .myCustomSelect{
    max-width: 80% !important;
   }

ion-select {
   --overflow: initial !important;
   --margin-right: 15px !important;
   --text-overflow: clip !important;
   --display:  inline-block !important;
   --text-align: right !important;
   --white-space: normal !important;
   
}

.selectAnia div {
   white-space: normal !important;
}
