

 .alert-wrapper{
    max-width: unset !important;
    width: 100% !important;
}

.wider-popover .popover-content {
    width: 100%; //or w/e width
 }

 .myCustomSelect{
    max-width: 100% !important;
   }

div.select-text {
   display: inline-block !important;
   text-align: right !important;
   white-space: normal !important;
}