<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>Wszystkie produkty, ktore mozna dodac</div>
  <div *ngFor="let product of allProducts">Nazwa produktu: {{product.name}} Liczba kalorii: {{product.kcal}} Liczba tluszczu: {{product.fat}} Liczba bialka: {{product.protein}}</div>
  <div>Nazwa posilku: {{mealName}}</div>
  <div>Liczba protein (suma): {{mealProtein}}</div>
  <!-- <div>Liczba protein (suma): {{mealProtein}}</div>
  <div>Liczba protein (suma): {{mealProtein}}</div> -->
</ion-content>
